[Desktop Entry]
X-Wayland-Startup=true
Encoding=UTF-8
Version=1.0
Type=Application
Icon=~/.local/share/icons/mac.svg
NoDisplay=false
Exec=cd /home/tom/build/OSX-KVM2 && ./OpenCore-Boot.sh
Name=Mac OS Ventura
Comment=Mac os on Qemu
